@charset 'utf-8';
@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Navbar ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}

  *, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-size: 10px;
	width: 768px;
}

body {
	font-size: 14px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F2D4AE;
}

.u-pullRight {
	float: right;
}

.Toggle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: 30px;
	border-radius: 100%;
	background-color: transparent;
}
button.Toggle {
	border: 0;
	cursor: pointer;
	padding: 0;
}

.Toggle span {
	margin: -0.1rem auto 0;
	vertical-align: top;
	transition-duration: 0s;
	transition-delay: 0.2s;
	text-indent: 100%;
	line-height: 0;
	white-space: nowrap;
	overflow: hidden;
}
.Toggle span, .Toggle span:before, .Toggle span:after {
	display: block;
	width: 2.1rem;
	height: 0.2rem;
	background-color: #fff;
}
.Toggle span:before, .Toggle span:after {
	content: "";
	position: absolute;
	transition-property: margin, transform;
	transition-duration: 0.2s;
	transition-delay: 0.2s, 0s;
}
.Toggle span:before {
	margin-top: -7px;
}
.Toggle span:after {
	margin-top: 7px;
}
.Toggle:hover span:before {
	transform: translateY(-1px);
}
.Toggle:hover span:after {
	transform: translateY(1px);
}
.Toggle.is-active span {
	background-color: rgba(255, 255, 255, 0);
	transition-delay: 0.2s;
}
.Toggle.is-active span:before, .Toggle.is-active span:after {
	margin-top: 0;
	transition-delay: 0s, 0.2s;
}
.Toggle.is-active span:before {
	transform: rotate(45deg);
}
.Toggle.is-active span:after {
	transform: rotate(-45deg);
}

.SocialLink {
	color: inherit;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2.8px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	vertical-align: top;
	margin-left: -1px;
	padding: 12px !important;
	border: 1px solid rgba(255, 255, 255, 0.06);
	background-color: #000;
}

.SocialLink-icon {
	display: block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	fill: currentColor;
}

.SocialLink-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

body {
	min-height: 90vh;
	padding-top: 6rem;
	
}

.Navbar {
	color: #fff;
	font-size: 15px;
	font-family: 'InkLipquid';
	line-height: 28px;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	position: fixed;
	backface-visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	z-index: 2;
}
.Navbar a:not(.Navbar-toggle) {
	color: inherit;
	text-decoration: none;
}
.Navbar-brand,
.Navbar-menu a,
.Navbar-quickLinks a {
	display: block;
}

.Navbar-brand,
.Navbar-quickLinks a {
	padding: 16px 14px;
}

.Navbar-quickLinks {
	display: none;
}

.Navbar-menu {
	line-height: 16px;
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 0%;
	overflow-y: auto;
	visibility: hidden;
	padding: 2.4rem 0;
	background-color: rgba(0, 0, 0, 0.92);
	opacity: 0;
	transition-property: opacity, visibility, width;
	transition-duration: 0.35s, 0.25s, 0.25s;
	transition-delay: 0.1s;
	z-index: 2;
}
.Navbar-menu .Navbar-menu-major {
	flex-grow: 1;
}
.Navbar-menu.is-active {
	opacity: 1;
	visibility: visible;
	width: 100%;
	transition-duration: 0.15s, 0.25s, 0.25s;
}

.Navbar-menu-major a,
.Navbar-menu-minor a,
.Navbar-menu-minor .Navbar-menu-social {
	padding: 16px 14%;
}

.Navbar-menu-major {
	font-size: 30px;
	text-align: center;
}
.Navbar-menu-major a:hover {
	background-color: rgba(255, 255, 255, 0.06);
}

#Navbar-menu-submenu{
	display: none;
}


#Navbar-menu-submenu{
	display: none;
	opacity: 0.5;
	padding-left: 20px;
}

.Navbar-menu-minor {
	color: #666666;
	margin-top: 14px;
}
.Navbar-menu-minor a {
	padding-top: 7px;
	padding-bottom: 7px;
}
.Navbar-menu-minor a:hover {
	color: #fff;
}

.Navbar-menu-social {
	overflow: hidden;
}
.Navbar-menu-social li {
	float: left;
}
main{
	padding-top: 50px;
	width:100%;
	background-color: #F2D4AE;
	/* border: 5px solid blue; */
	z-index: -1;
}

.banner{
	text-align: center;
	z-index: -1;
}

.banner .logo{
	width: auto;
	height: auto;
	position: relative;
	z-index: 1;
}
.banner .logo img{
	width: 300px;
	height: 200px;
}

.banner .search {
	display: inline-block;
	width: 700px;
	z-index: -1;

	/* border: 5px solid blue; */
}

.banner_img{
	margin-top: 30px;
	margin-bottom: 10px;
}

.banner_img img{
	width: 100%;
	height: auto;
}

main .container .content{
	z-index: -1;
}

.category{
	position: relative;
	float: none;
	/* border: 5px solid blue; */
	text-align: center;
}

.m-dropdown {
	margin: 20px auto;
	width: 500px;
	display: block;
	z-index: -1;
  }
  .m-dropdown .e-button {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
	line-height: 20px;
	padding: 8px 30px 8px 15px;
	z-index: 1;
	color: #fff;
	font-family: 'InkLipquid';
	font-size: 25px;
	position: relative;
	border: 2px solid transparent;
	margin-top: 2px;
	z-index: 1;
	display: block;
	width: 500px;
	margin: 0 auto;
	background: #1b1b1b;
}
.m-dropdown .e-button:hover {
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	color: #F2D4AE;
}
.m-dropdown .e-button:hover .e-burger span {
	background: #F2D4AE;
}
.m-dropdown .e-button:before {
	right: 100%;
	margin-right: 2px;
	border-bottom-right-radius: 10px;
}
.m-dropdown .e-button .e-burger {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 15px;
	width: 15px;
	height: 14px;
	transform-origin: center;
	z-index: -1;
}

.m-dropdown .e-button .e-burger span:first-child {
	top: 0;
	transform: none;
}
.m-dropdown .e-button .e-burger span:last-child {
	top: auto;
	bottom: 0;
	transform: none;
}
.m-dropdown .e-button .e-burger:after {
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	content: " ";
	display: block;
	position: absolute;
	top: 12px;
	right: -37px;
	height: 0;
	width: 199px;
	left: auto;
	z-index: 1;
	background: #1b1b1b;
	opacity: 0;
}
.m-dropdown .e-button.open {
	border-color: transparent;
	background: #1b1b1b;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #F2D4AE;
}
.m-dropdown .e-button.open .e-burger span {
	background: #669999;
}
.m-dropdown .e-button.open .e-burger span:first-child {
	opacity: 0;
}
.m-dropdown .e-button.open .e-burger span:nth-child(2) {
	transform: translateY(-50%) rotate(-45deg);
}
.m-dropdown .e-button.open .e-burger span:nth-child(3) {
	transform: translateY(-50%) rotate(45deg);
}
.m-dropdown .e-button.open .e-burger span:last-child {
	opacity: 0;
}
.m-dropdown .e-button.open .e-burger:after {
	height: 15px;
	opacity: 1;
}
.m-dropdown .e-list {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 500px;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	padding-right: 50px;
	list-style: none;
	font-family: 'HSYuji-Regular';
	/* font-family: 'InkLipquid'; */
	font-size: 15px;
	background: #1b1b1b;
	display: inline-block;
	/* float: left; */
	overflow: hidden;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	z-index: 1;
}

.m-dropdown .e-list ul{
	width: 500px;
	height : 320px;
	display: flex; 
	align-content:flex-start; 
	flex-direction:column; 
	flex-wrap:wrap; 
	overflow:auto;
	list-style: none;
}

.m-dropdown .e-list li {
	/* width: 100%; */
	width : 200px;
	float: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.01);
	box-sizing: border-box;
	position: relative;
}
.m-dropdown .e-list li:last-child {
	border: none;
}
.m-dropdown .e-list li a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 15px;
	float: left;
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	box-sizing: border-box;
}
.m-dropdown .e-list li a:hover {
	background: #fff;
	color: #111;
}

.content .product{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content .product .thumbnail{
	width: 330px;
	height: 325px;
	background-color: #F2D4AE;
	border: #ebbb7c 1px solid;
	position: relative;
	display: inline-block;
	float: left;
	margin: 4px;
}
.content .product .thumbnail:hover{
	border: 1px #e79120 solid;
	transform: scale(1.1);
}

.content .product img{
	/* border: 5px solid blue; */
	width: 251px;
	height: 251px;
	/* 서브 제품 사진 크지 251x251 */
}

.content .product .caption{
	line-height: 50%;
	background-color: #F2D4AE;
}

.content .product h2{
	font-family: 'HSYuji-Regular';
	border-bottom: 3px solid #D96666;
}

.content .product h4{
	font-size: 13px;
	font-family: 'GowunBatang-Regular';
	font-weight: bold;
}

.content .product a {
	text-decoration-line: none;
}

.content .product p1 {
	color: gray;
	font-size: 11px;
}

.content .product p2 {
	font-size: 13px;
	font-weight: bold;
}

.content .product p3{
	font-size: 13px;
}

.content .page {
	text-align: center;
	text-decoration: none;
}

.content .pagination {
	display: inline-block;
	text-align: center;
	list-style: none;
	text-decoration: none;
}

.pagination a {
	text-align: center;
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius:50%;
	font-size: 20px;
	font-family: 'InkLipquid';
}

.pagination a.active {
	text-decoration: none;
	background-color: #e79120;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ebbb7c;
	text-decoration: none;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

footer {
	width: auto;
	height: 100%;
	background: #333;
	padding: 100px 0px;
	padding-left: 200px;
	padding-right: 200px;
	border-top: 1px solid #888;
}
footer .inner {
	width: auto;
	margin: 0px auto;
}
footer .inner .upper {
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper::after {
	/*상단 영역 float해제*/
	content: "";
	display: block;
	clear: both;
}
footer .inner .upper h1 {
	float: left;
	font: bold 24px/1 "arial";
	color: #666;
}
footer .inner .upper ul {
	float: right;
}
footer .inner .upper ul li {
	float: left;
	margin-left: 20px;
}
footer .inner .upper ul li a {
	font: bold 14px/1 "arial";
	color: #666;
}
footer .inner .lower {
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower address {
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}
footer .inner .lower p {
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
}


@media screen and (min-width: 768px) {
	.u-Navbar-hidden\@sm-up {
	display:none;
	}

body {
	padding-top: 0;
	padding-left: 6rem;
	background-color: #F2D4AE;
	width: 100vw;
}

.Navbar {
	bottom: 0;
	width: 6rem;
	z-index: 5;
	}

.Navbar-toggle {
	position: relative;
	top: 0;
	
	}

.Navbar-menu {
	top: 0;
	left: 6rem;
	padding-top: 5.2rem;
	
}
.Navbar-menu.is-active {
	width: 26rem;
	
	
}

.Navbar-brand {
	position: absolute;
	top: 6rem;
	right: 0;
	padding-left: 0.6rem !important;
	padding-right: 0.6rem !important;
	transform: rotate(-90deg) translateY(-6rem);
	transform-origin: right top;
	
}

.Navbar-quickLinks {
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	display: block;
	padding-left: 1.6rem !important;
	transform: rotate(-90deg) translateX(-6rem);
	transform-origin: 0 0;
	z-index: 5;
}
.Navbar-quickLinks li {
	display: inline-block;
	
	}
.content .product .thumbnail{
	width: auto;
	background-color: #F2D4AE;
	border: #ebbb7c 1px solid;
}
.content .product .thumbnail:hover{
	border: 1px #e79120 solid;
	transform: scale(1.1);
}
.banner_img img{
	width: 100%;
	height: 480px;
}
.Navbar-menu-major {
	font-size: 20px;
	text-align: center;
}
}